

<body data-gr-c-s-loaded="true" cz-shortcut-listen="true">

  <!-- Navbar content --> 
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  
    <a href="/sign-out"><div><i class="fa fa-sign-out fa-2x"></i></div></a>
  </nav>

<!-- Form to edit a Post -->
<div class="container">
  <div class="row">
    <div class="col-xs-7 col-sm-6 col-lg-8">
      <form action="/post/<%=@post.id%>" method="POST">
      <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <label for="blog_post">Edit </label><br>
                    <input type="text" name="title" placeholder="Edit Title" value="<%=@post.title%>">
              
                    <textarea rows="4" cols="50" name="text_content" placeholder="Enter new content"><%= @post.text_content %>
                   </textarea>
                <input type="submit" value="Post">
            </div>
        </form>

        <form action="/posts/<%= @post.id %>/delete" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="delete">
        </form>
    </div>
 </div>
</div>  

