<!-- Navbar content --> 
<% if session[:user_id] %>
<ul class="nav">
  <li class="nav-item">
  <a href="/post"><div><i class="fa fa-home fa-2x"></i></div></a>
  </li>
  <li class="nav-item">
  <a href="/profile"><div><i class="fa fa-user fa-2x"></i></div></a>
  </li>
</ul>
 <hr>
 <h1 style="background-color: #E0ECF8; width: 100%; height: 100%;">

<!-- Form to create a Post -->
<div class="container">
  <div class="row_post">
      <form action="/post" method="POST">
        <div class="form-group">
          <label class="blog_post"> Write a Post </label><br>
          <input type="text" name="title" placeholder="Enter title">
          <textarea id="markItUp" name="text_content" class="form-control" placeholder="Type here" rows="10" cols="20"></textarea>
         <input type="submit" value="Post">
        </div>
      </form>
  </div>
</div>

  <% else %>
  <a href="/sign-up"><div><i class="fa fa-user-plus fa-3x"></i></div></a>
<div style="font-family: 'Abel', sans-serif;">Please login to view this content</div>

  <% end %>

</body>
</html>
