<body data-gr-c-s-loaded="true" cz-shortcut-listen="true">

 <!-- Navbar content --> 
 <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
 <a href="/post/new"><div><i class="fa fa-plus fa-2x"></i></div></a>
 <a href="/sign-out"><div><i class="fa fa-sign-out fa-2x"></i></div></a>
</nav>

<div class = "container" id="table_blog">
    <% @users_post.each do |x| %>
    <h2>Title: <%= x.title%><a href="/post/<%=x.id%>/edit"><i class="fa fa-edit fa-1x"></i></a></h2>
    <h5>Username: <%= x.user_id%></h5>
    <h5>Post: <%= x.text_content %></h5>
<% end %>
</div>

<form method="POST" action="/profile">
<div class="field">
    <input type="hidden" name="_method" value="DELETE">
    <input style="background-color:red" class="btn btn-primary" value="Account Delete">
    </div>
</form>
