@import 'colors';

* {
    margin: 0;
    padding: 0;
}
a {
    &:hover {
        color: $blue;
    }
}
ul, nav {
    list-style: none;
}

.carousel-item {
    height: 500px;
    width: 1400px;
}
// images 
.d-block.w-100 {
    height: 500px;
    width: 1400px;
}
//search bar
.form-control.mr-sm-2 {
    height: 30px;
}
// search btn
.btn.btn-outline-success.my-2.my-sm-0 {
    height: 35px;
}

#title{
    font-family: 'News Cycle', sans-serif;
}
#list {
    background-color: $pinky;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
}
#bucket_list_title {
    font-family: 'News Cycle', sans-serif;
    font-size: 42px;
}

.bucket_list {
    height: 300px;
    width: 350px;
}

.mr-3 {
    height: 300px;
    width: 350px;
}

#table_blog {
    font-family: 'News Cycle', sans-serif;
    background-color: $pinky;
    height: 200px;
    width: 900px;
    
}